{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "React": true,
    "ReactDOM": true,
    "document": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-parens": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "arrow-body-style": 0,
    "eol-last": 0,
    "no-undef": 0,
    "no-confusing-arrow": 0,
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    "no-console": 0,
    "no-restricted-syntax": 0,
    "no-unneeded-ternary": 0,
    "guard-for-in": 0,
    "spaced-comment": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "prefer-template": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/extensions": 0,
    "linebreak-style": [
      "off",
      "windows"
    ]
  }
}
