.fadeOut-appear {
   opacity: 0.01;
}

.fadeOut-appear.fadeOut-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeOut-enter {
  opacity: 0.01;
}

.fadeOut-enter.fadeOut-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeOut-leave {
  opacity: 1;
}

.fadeOut-leave.fadeOut-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
