@import '../scss/common';
$lightGray: #eee;
$darkGray: #a0a0a0;

.home-header {
  @extend %FormItem-verti-align;
  padding: 20px 30px;
  border-bottom: 1px dotted $lightGray;

  h1 {
    border-bottom: 1px solid $darkGray;
    padding-bottom: 10px;
  }

  &-info{
    display: inline-block;
    color: $darkGray;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 13px;
  }
}
