.form-item {
  position: relative;
  display: flex;
  padding: 10px;

  &--required::before {
    content: '*';
    position: absolute;
    left: -2px;
    width: 10px;
    height: 10px;
    display: block;
    color: orange;
  }

  > span {
    text-align: center;
  }

  &-error {
    text-align: left;
    display: none;
    margin-top: 8px;
    color: orange;

    &--show {
      display: block;
    }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: $i;
  }
}
